<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>
    <ion-title>Conteúdo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pais of paises">
      <ion-avatar slot="start">
        <ion-img [src]="pais.img"></ion-img>
      </ion-avatar>
      <ion-label> {{pais.descricao}} </ion-label>
      <ion-label> {{pais.ordem}} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
