<ion-header [translucent]="true" primary>
  <ion-toolbar color="primary">
    <ion-title>Back Button</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeProcessState()">
        {{statechangeText()}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header> Numero a incrementar </ion-card-header>
    <ion-card-content>
      <ion-card-content>
        <ion-list *ngFor="let num of numeros_inc"></ion-list>
      </ion-card-content>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header> Numero a decrementar </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let num of numeros_dec">
        <ion-label>{{ num }}</ion-label>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
